	<% provide(:title, "Sign in") %>
	
	<div class="row">
	  <div class="span6 offset3">
	    <%= form_for(:session, url: sessions_path) do |f| %>
	    	<h3 class="form-signin-heading"> Welcome Back! Please Sign In </h3>
	    	<hr class="colorgraph"> <br>
		 		<%= f.label :email  %>
	      <%= f.text_field :email, class: "form-control" %>
		  	<%= f.label :password %>
	      <%= f.password_field :password , class: "form-control" %>
		  	<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
	  	<% end %>
	 	  <p> <%= link_to "Sign up now!", signup_path %></p>
	  </div>
	</div>
			